h4 CONTACT DETAILS

.row
  .col-xs-4
    form(name='contactForm', novalidate)
      .form-group
        label Full Name: &nbsp;&nbsp; {{contact.name}}
      .form-group
        label Address: &nbsp;&nbsp; {{contact.address}}
      .form-group
        label Birthday: &nbsp;&nbsp; {{contact.bday}}
      .form-group
        label Phone Number: &nbsp;&nbsp; {{contact.phone}}
      .form-group
        label Email Address: &nbsp;&nbsp; {{contact.email}}
      .form-group
        label Web Page: &nbsp;&nbsp; {{contact.webpage}}
      .form-group
        label Twitter Page: &nbsp;&nbsp; {{contact.twitter}}
      .form-group
        label Facebook Page: &nbsp;&nbsp; {{contact.facebook}}
  .col-xs-6
      .form-group
        img.profileImg.img-responsive.img-thumbnail(ng-src='contact.photo')
