H4 LIST OF CONTACTS

.row
  .col-xs-12
    table.table.table-striped
      thead
        tr
          th 
          th Name
          th Phone Number
          th Email
          th Home Page
          th Delete Contact
          th Edit Contact
      tbody
        tr(ng-repeat='contact in contacts track by $index')
          td(ng-click='displayDetails(contact, $index)'): img.imgList.img-responsive.img-thumbnail(ng-src='{{contact.photo}}')
          td(ng-click='displayDetails(contact, $index)'): a{{contact.name}} 
          td {{contact.phone}} 
          td: a(href='mailto:{{contact.email}}') {{contact.email}}
          td: button.btn-xs.btn-warning(ng-click='edit(contact, $index)') Edit Contact
          td: button.btn-xs.btn-danger(ng-click='delete(contact, $index)') Delete Contact 
          
          
        //- sbutton.btn.btn-danger.btn-xs(ng-click='removeAlbum(album, $index)') Delete
