H4 LIST OF CONTACTS

.row
  .col-xs-12
    table.table.table-striped
      thead
        tr
          th 
          th Name
          th Birthday
          th Phone Number
          th Address
          th Email
          th Home Page
          th Twitter Page
          th Facebook Page
          th Delete Contact
          th Edit Contact
      tbody
        tr(ng-repeat='contact in contacts track by $index')
          td: img.imgList.img-responsive.img-thumbnail(ng-src='{{contact.photo}}')
          td {{contact.name}} 
          td {{contact.bday}} 
          td {{contact.phone}} 
          td {{contact.address}} 
          td {{contact.email}} 
          td {{contact.webpage}} 
          td {{contact.twitter}} 
          td {{contact.facebook}} 
          td  
          td  
          
          
        //- sbutton.btn.btn-danger.btn-xs(ng-click='removeAlbum(album, $index)') Delete
